/* Media Query on media.html */
@media screen and (max-width: 700px){
    .openBtn {
        visibility: visible;
    }

    #sideNav {
        left: -250px;
    }

    main {
        left: 0px;
        max-width: calc();
    }

}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
  }
  
  .topNav {
    background-color: #75c9c8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  a {
    color: #f7f4ea;
    padding: 16px;
    text-decoration: none;
    transition: 0.5s;
  }
  a:hover {
    color: #75c9c8;
  }
  .topNav a:hover {
    color: #80a1d4;
  }
  
  .openBtn {
    color: #f7f4ea;
    font-size: 30px;
    margin-left: 20px;
    flex-grow: 1;
    visibility: hidden;
  }
  .openBtn span {
    cursor: pointer;
  }
  
  #sideNav {
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0px;
    background-color: #80a1d4;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    transition: 0.8s;
  }
  
  #sideNav a {
    padding: 8px 32px;
    font-size: 25px;
  }
  
  main {
    position: relative;
    left: 180px;
    padding: 20px;
    /* max-width: calc(100% - 200px); fixes overflowing text */
  }  